// =========================================================================
// BUTTON
// =========================================================================

%btn {
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    @include mq('md') {
        display: inline-block;
    }
    padding: 5px 20px;
    font-size: em(18px);
    font-weight: $font-weight--md;
    line-height: (36px/18px);
    border-radius: $br-radius;
    color: $white;
    text-align: center;
    margin-top: em(20px, 18px);
}

.btn {
    @extend %btn;
    @include m(primary) {
        background: linear-gradient(135deg, $primary-color, $secondary-color);
    }
    @include m(secondary) {
        background: linear-gradient(135deg, $red, $orange);
    }
    @include m(white) {
        background-color: color(primary, x-light);
        color: $secondary-color;
        border: 1px solid color(primary, light);;
        box-shadow: -4px 4px color(primary, light), -3px 3px color(primary, light), -2px 2px color(primary, light);
        transition: transform $transition ease-in;
        &:hover {
            @include mq('lg') {
                transform: scale(1.2);
            }
        }
    } 
    @include m(small) {
        background: linear-gradient(135deg, $primary-color, $secondary-color);
        font-size: em(14px);
        padding: 3px 10px;
    }
}

.btn + .btn {
    @include mq('lg') {
        margin-left: 20px;
    }
}