// ================================================================
// HELPERS [TEXT]
// ================================================================

%heading-xs {
    font-size: em(19px);
    line-height: (30px / 19px);
    font-weight: $font-weight--xxl;
    span {
        font-weight: $font-weight--xs;
    }
}

%heading-sm {
    font-size: em(24px);
    line-height: (34px / 24px);
    font-weight: $font-weight--xxl;
    span {
        font-weight: $font-weight--xs;
    }
}

%heading-md {
    font-size: em(28px);
    line-height: (40px / 28px);
    font-weight: $font-weight--xxl;
    span {
        font-weight: $font-weight--xs;
    }
    @include mq('lg') {
        font-size: em(32px);
        line-height: (42px / 32px);
    }
}

%heading-lg {
    font-size: em(28px);
    line-height: (38px / 28px);
    font-weight: $font-weight--xxl;
    span {
        font-weight: $font-weight--xs;
    }
    @include mq('md') {
        font-size: em(32px);
        line-height: (42px / 32px);
    }
    @include mq('lg') {
        font-size: em(42px);
        line-height: (52px / 42px);
    }
}

%heading-xl {
    font-size: em(36px);
    line-height: (48px / 36px);
    font-weight: $font-weight--xxl;
    span {
        font-weight: $font-weight--xs;
    }
    @include mq('md') {
        font-size: em(42px);
        line-height: (52px / 42px);
    }
    @include mq('lg') {
        font-size: em(62px);
        line-height: (82px / 62px);
    }
}

