// =================================================================================
// IMAGES
// =================================================================================

img {
    display: block;
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}
