// ================================================================
// STICKY NAVBAR
// ===============================================================

.sticky {
    padding: 12px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid color(grey, light);
    z-index: 9;
    animation: padded $transition ease-in-out;
}

@keyframes padded {
    from {
        padding: 4px 0px;
    }
    to {
        padding: 12px 0px;
    }
}