
// GOOGLE FONT
$font-url--google    : 'https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700';
$font-stack--primary : 'Nunito', sans-serif;

// FONT WEIGHT
$font-weight--xs     : 200;
$font-weight--sm     : 300;
$font-weight--md     : 400;
$font-weight--lg     : 500;
$font-weight--xl     : 600; 
$font-weight--xxl    : 700; 

// COLORS
$color-light--blue   : #2DA8EC;
$color-blue          : #0043A6;
$white               : #ffffff;
$grey                : #b2bec3;
$black               : #0b0b0b;
$red                 : #f32853;
$orange              : #fe6705;

// USAGE COLOR

$primary-color       : $color-light--blue;
$secondary-color     : $color-blue ;


// MAPS

$color-palettes      : (
	grey         : (
		x-light  : lighten($grey, 24%),
		light    : lighten($grey, 18%),
		base     : $grey,
		dark     : darken($grey, 20%),
		x-dark   : darken($grey, 25%),
	),
	black        : (
		x-light  : lighten($black, 25%),
		light    : lighten($black, 12%),
		base     : $black,
		dark     : darken($black, 20%),
	),
	primary      : (
		xx-light : lighten($primary-color, 42%),
		x-light  : lighten($primary-color, 30%),
		light    : lighten($primary-color, 17%),
		base     : $primary-color,
		dark     : darken($primary-color, 20%),
	),
);

$ui-colors       : (
	default   : #2c3e50,
	info      : #3498db,
	success   : #16a085,
	warning   : #f39c12,
	error     : #e74c3c,
);

// Text
$base-font--size     : 16px;
$base-line           : 28px;
$letter-space        : 1px;

// TRANSITION
$transition          : 0.3s;

// BODER RADIUS
$br-radius           : 4px;
$br-roundy           : 50%;

// GRID
$max-width           : 1600px;
$gutter              : 15px;

// BREAKPOINTS

$breakpoints         : (
	'xs'      : 575px,
	'sm'      : 576px,
	'md'      : 768px,
	'lg'      : 1024px,
	'xl'      : 1400px,
	'xxl'     : 1920px
);



