// ====================================================================
//  BASE RULE
// ====================================================================

* {
    box-sizing: border-box;
    -mox-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack--primary;
    font-size: $base-font--size;
    line-height: ($base-line / $base-font--size);
    color: color(black, light);
    font-weight: $font-weight--sm;
}

// TEXT

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size: em(36px);
    line-height: (48px / 36px);
    font-weight: $font-weight--xl;
    margin-bottom: em(15px, 36px);
}

h2 {
    font-size: em(32px);
    line-height: (44px / 32px);
    font-weight: $font-weight--xl;
    margin-bottom: em(15px, 32px);
}

h3 {
    font-size: em(28px);
    line-height: (40px / 28px);
    font-weight: $font-weight--xl;
    margin-bottom: em(15px, 28px);
}

h4 {
    font-size: em(24px);
    line-height: (35px / 24px);
    font-weight: $font-weight--lg;
    margin-bottom: em(15px, 24px);
}

h5 {
    font-size: em(20px);
    line-height: (30px / 20px);
    font-weight: $font-weight--lg;
    margin-bottom: em(15px, 20px);
}

h6 {
    font-size: em(18px);
    line-height: (28px / 18px);
    font-weight: $font-weight--lg;
    margin-bottom: em(15px, 18px);
}

p {
    margin: 0px;
}

// LINKS
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    margin: 0;
}

a {
    text-decoration: none;
    color: color(black, light);
}















