// ==================================================================
// ABOUT
// ==================================================================
.table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: transparent;
    color: var(--bs-table-striped-color);
}

.story {
    @include e(content) {
        table {
            border-radius: $br-radius;
            overflow: hidden;
            th, td {
                text-align: left;
                font-size: em(15px);
                border: 1px solid color(primary, xx-light);
            }
            table {
                padding-left: 15px;
                tr {
                    &:nth-child(odd) {
                        background-color: transparent;
                    }
                }
            }
            th {
                color: color(primary);
            }
            tr {
                &:nth-child(odd) {
                    background-color: color(primary, xx-light);
                }
            }
        }
        p {
            font-size: em(15px);
        }
        background-color: transparent;
    }
    @include e('team') {
        .em-card {
            background-color: color(primary, light);
            color: color(primary, xx-light);
            border-radius: $br-radius;
            overflow: hidden;
            .em-card--main {
                @include flexy();
                .em-card--image {
                    display: flex;
                }
            }
            article {
                padding: 15px 12px 4px;
                position: relative;
                h3 {
                    font-size: em(17px);
                    margin-bottom: 0;
                    line-height: (17px/17px);
                }
                span {
                    font-size: em(15px);
                }
                p {
                    font-size: em(16px);
                }
                ul {
                   position: absolute;
                   width: 100%;
                   top: 185px;
                    li {
                        display: inline-block;
                        font-size: em(15px);
                        a {
                            display: block;
                            color: color(primary, xx-light);
                            padding: 2px 6px;
                            transition: color $transition ease-in;
                            &:first-child {
                                padding-left: 0;
                            }
                            &:hover {
                                color: color(primary);
                            }
                        }
                    }
                }
            }
        }
    }
    .right-cols {
        background-color: color(primary, xx-light)
    }
    .team-slider {
        padding-bottom: 20px;
        .swiper-pagination {
            bottom: -4px;
            .swiper-pagination-bullet {
                background-color: color(primary);
            }
        }
    }
    .abt-mission {
        padding: 30px 0px;
        @include mq('lg') {
            padding: 50px;
        }
    }
}