// =============================================================================
//  BANNER
// =============================================================================

.banner {
    background: linear-gradient(135deg, $primary-color, $secondary-color);
    @include e('video') {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 205px;
        @include mq('md') {
            height: 400px;
        }
        @include mq('lg') {
            height: calc(100vh - 115px);
        }
    }

    .vipin {
       height: 100%;
       width: 100%;
    }
}