// ==========================================================================
// FOOTER
// ==========================================================================

#footer {
    background-color: color(black);
    padding: 60px 0px 15px;
    background-image: url('../../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    z-index: 2;
    @include p-el('after', 100%, 100%) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-image: linear-gradient(135deg, rgba($primary-color, .85), rgba($secondary-color, .95));
    }
}

.footer {
    color: $white;
   &-logo {
       font-size: em(22px);
       text-transform: uppercase;
        a {
            color: color(primary);
            span {
                font-weight: $font-weight--sm;
                font-size: em(18px, 22px);
                border-left: 1px solid $white;
                padding-left: 15px;
                margin-left: 15px;
                color: $white;
            }
        }
   }
   p {
       font-size: em(15px);
       font-weight: $font-weight--xs;
   }
   .ft-icons {
       @extend %margin-top-50;
       li {
        display: inline-block;
        margin-right: 18px;
       }
       a {
           color: color(primary, x-light);
           display: inline-block;
           transition: color $transition ease-in;
           &:hover {
               color: $white;
           }
       }
   }
   .imp-links {
       a {
           font-size: em(15px);
           color: $white;
           transition: color $transition ease-in;
           &:hover {
               color: color(primary);
           }
       }
   }
   address {
       a {
           display: block;
           color: $white;
       }
   }
   .copyright {
       font-size: em(13px);
       text-align: center;
       letter-spacing: $letter-space;
       @extend %margin-top-50;
       a {
        color: color(primary);
       }
   }
   .ft-funds {
       a {
           display: block;
           @extend %margin-top-50;
       }
   }
}