// ========================================================================================
// GOV SCHEME
// ========================================================================================

#scheme {
    @extend %margin-top-50;
}

.scheme {
    @include e(content) {
        padding: 15px;
        background-color: $white;
        h3 {
            font-size: em(18px);
            font-weight: $font-weight--md;
            text-align: center;
        }
        span {
            font-size: em(52px);
            display: block;
            text-align: center;
        }
    }
    @include e(form) {
        padding: 50px 0px;
        h2 {
            text-align: center;
        }
    }
}