// =========================================================================
// SUPER NGO
// =========================================================================

.spr-enquery {
    background-color: color(primary, xx-light);
    padding: 25px;
    border-radius: $br-radius;
    input {
        margin-bottom: 15px;
    }
}